*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.go{
    height: 50vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.811);
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    /* align-items: center; */
}
.travel{
    height: 60vh;
    width: 90%;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    color: aliceblue;
    justify-content: space-between;
}
.go-travel{
    width: 30%;
    margin-top: 5vh;
    /* background-color: aqua; */
}
.tae{
    font-size: 20px;
}
.tae p{
    padding-top:20px ;
    font-size: 20px;
}
/* 
.payment{
    height: 20vh;
    width: 100%;
    background-color: rgb(255, 0, 0);
}

.nav-payment{
    height: 5vh;
    width: 100%;
    background-color: rgb(130, 244, 197);
    display: flex;
    justify-content: center;
    align-items: center;
} */


.contact{
    height: 60vh;
    width: 27%;
    margin-top: 5vh;
    /* background-color: cadetblue; */
}
.you{
    height: 10vh;
    /* background-color: yellowgreen; */
    font-size: 20px;
    display: flex;
    align-items: center;
}

.you h1{
    color: red;
}

.bunny li{
    padding-top: 20px;
    font-size: 20px;
}
.bunny li i{
    padding: 5px;
}
.email{
    height: 60vh;
    width: 35%;
    margin-top: 5vh;
    /* background-color: rgb(243, 71, 3); */
}
.hero{
    width: 90%;
    margin-top: 20px;
   
}
.hero h3{
    font-family: serif;
}

#sign{
    background: #fff;
    padding: 12px 15px;
    color: #777;
    font-size: 14px;
    width: 45% !important;
    border: none;
    letter-spacing: 1px;
    margin-top: 20px;
}
.sign button{
    background-color: orangered;
    padding: 12px 15px;
    color: aliceblue;
    font-size: 14px;
    width: 20%;
    border: none;
    letter-spacing: 1px;
}
.icon{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    font-size: 18px;
}
.icon li{
    padding: 10px;
}
.v{
    height: 3vh;
    background-color: rgba(0, 0, 0, 0.811);
    margin-top: 1px;
}
.v h1{
    color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    letter-spacing: 1px;
}
.v h1 i{
    padding: 3px;
    color: red;
}
